<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Client">

    <select id="getAllUsers" resultType="java.util.HashMap">
        SELECT
        USERID,
        USERNAME
        FROM
        USER
    </select>

    <select id="selectX" parameterType="String" resultType="String">
        SELECT
        USERNAME
        FROM
        USER
    </select>

    <insert
            id="insertClient"
            parameterType="org.shevchenko.client.model.Client"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">

        INSERT INTO CLIENTS (name, surname, email, birthDay)
        VALUES (#{name}, #{surname}, #{email}, #{birthDay})

    </insert>
</mapper>